.example-card {
  max-width: 300px;
  height: auto;
  margin-left: 20px;
  float: left;
  display: flex;
}

mat-card-content{
  margin-bottom: -5px;
}

img{
  opacity: 0.8;
  width: 300px;
  /*height: 300px;*/
}

.example-header-image {
  background-image: url('https://images.vexels.com/media/users/3/149940/isolated/lists/54de4c3f61a5f23cf7bf6f738a068ec4-microphone-mic-doodle.png');
  background-size: cover;
}

#delete{
  display: flex;
  float: right;
  position: absolute;
}
