<div id="sidebar">
  <ul class="style2">
    <li class="first">
      <h3>Maecenas luctus lectus</h3>
      <p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
    </li>
    <li>
      <h3>Integer gravida nibh</h3>
      <p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
    </li>
    <li>
      <h3>Fusce ultrices fringilla</h3>
      <p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
    </li>
    <li>
      <h3>Nulla luctus eleifend</h3>
      <p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
    </li>
    <li>
      <h3>Nulla luctus eleifend</h3>
      <p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
    </li>
  </ul>
</div>
