#body{
  width: inherit;
  height: inherit;
  overflow: hidden;
  background: #CF4A41;
}

#logo{
  float: left;
  width: 350px;
  padding: 20px 0px 10px 50px;
  text-transform: uppercase;
}

#logo h1
{
  padding: 5px 10px 0px 0px;
}

#logo h1 a
{
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #FFFFFF;
}

#logo p
{
  display: block;
  margin-top: -10px;
  padding: 0px 0px 0px 0px;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #FFFFFF;
}

#logo p a
{
  color: #FFFFFF;
}

#menu
{
  float: right;
  width: 700px;
  padding: 60px 50px 0px 0px;
}

#menu ul
{
  float: right;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li
{
  float: left;
}

#menu a
{
  display: block;
  margin-left: 1px;
  padding: 7px 0px 7px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a
{
  text-decoration: none;
  border-radius: 5px;
  color: #FFFFFF;
}
