
#content-header{
  height: 80px;
  background: #fafafa;
}

#add_artiste{
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

#slogan{
  margin-top: 30px;
  float: left;
  font-family: Garamond, serif;
  padding-left: 35%;
}
