body{
  margin: 0px;
  padding: 0px;
  background: #fafafa;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color: #545454
}

html{
  background: #fafafa;
}

#body{
  background: #fafafa;
}

.body{
  background: #fafafa;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  padding: 0px 0px 20px 0px;
  font-size: 1.50em;
}

p, ol, ul {
  margin-top: 0px;
}

p {
  line-height: 180%;
}

a {
  color: #2C2C2C;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

/* List style 2 */
ul.style2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.style2 li {
  padding: 25px 20px 15px 0px;

}

ul.style2 .first {
  padding-top: 0px;
  border-top: none;
}

ul.style2 h3 {
  padding: 0px 0px 10px 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
